/* All Common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.common-heading{
    text-align: center;
    padding-top: 60px;
    display: block;
}
.common-heading h3{
    color: var(--title);
    font-family: var(--oswald);
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
.common-heading h3::before{
    content: "";
    background: url(../images/shape.png);
    height: 1px;
    width: 60px;
    position: absolute;
    left: 0;
    bottom: 0;

}
.img-fluid{
    width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
:root{
    --oswald:'Oswald', sans-serif;
    --open:'Open Sans', sans-serif;
    --heading:#0872b9;
    --peragraph:#555555;
    --hover:#5bc5f4;
    --title:#353535;
    --common-bg:#f1f1f1;
    --white:#ffffff;
}
/* All Common Css End */

/* Header section srart */
#header{
    background: var(--heading);
    padding: 10px 0;
}
.header{
    display: flex;
}
.header .left{
    width: 50%;
}
.header .left h4{
    font-size: 14px;
    font-family: var(--open);
    color: #e7e7e7;
    font-weight: 400;
}
.header .right{
    width: 50%;
    text-align: right;
}
.header .right a{
    font-size: 14px;
    font-family: var(--oswald);
    font-weight: 400;
    color: #e7e7e7;
    padding: 20px;
    transition: all linear .3s;
}
.header .right a :hover{
    color: var(--hover);
}

/* Header section end */

/* Nav section srart */

#nav{
    padding: 20px 0;
}
.nav{
    display: flex;
}
.nav .nav-img{
padding: 14px;
}
.nav .nav .nav-img{
    width: 80px;
}
.nav .nav-menu{
    width: 860px;
    padding-top: 15px ;
}
.nav .nav-menu ul{
    text-align: right;
}
.nav .nav-menu ul li{
    display: inline-block;
}
.nav .nav-menu ul li a{
    font-size: 14px;
    font-weight: 400;
    color:var(--peragraph);
    padding-left: 15px;
}
.nav .nav-menu ul li a:hover{
    color:var(--hover);
}

/* Nav section end */


/* banner section srart */
#banner{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#banner .overlay{
    padding: 85px;
    background: rgba(0, 0, 0, 0.6 );
}
.banner-text{
    width: 460px;
    margin-left: auto;
    text-align: right;
}
.banner-text h2{
    color: var(--white);
    font-size: 30px;
    font-family: var(--oswald);
    font-weight: 500;
    line-height: 1px;
    padding-bottom: 20px;
   text-transform: uppercase;
}
.banner-text h1 {
    color: var(--white);
    font-size: 40px;
    font-family: var(--oswald);
    font-weight: 700;
    line-height: 1px;
    padding-bottom: 25px;
    padding-top: 20px;
    text-transform: uppercase;
}
.banner-text p{
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    font-family: var(--open);
    line-height: 24px;
    padding-bottom: 20px;
}
.banner-brn{}
.banner-brn a{
 color: var(--white);
 font-size: 14px;
 font-weight: 400;
 font-family: var(--oswald);
 padding: 8px 20px;
 border: 1px solid var(--white);
margin-left: 20px;
text-transform: uppercase;
transition: all linear .3s;
}
.banner-brn a:hover{
    border: 1px solid var(--heading);
    background: var(--heading);
}

/* banner section end */


/* about section start */

#about{
    padding-top: 30px;
}
.about{
    display: flex;
}
.about-img{
    width: 380px;
    margin-right: 20px;
    
}
.about-text{
    width: 540px;
   
}
.about-text p{
    color: var(--peragraph);
    font-size: 13px;
    font-weight: 400;
    font-family: var(--open);
    padding-top: 40px;
    
}
.about-text p span{
    display: block;
    padding-top:40px;
}
/* about section end */


/* Services section start */


.services{
    display: flex;
    padding-top: 65px;
    gap: 20px;
}
.services .sv-item{
    height: 165px;
    width: 300px;
    background: var(--common-bg);
    padding: 0 10px;
    text-align: center;
    position: relative;
}
.services .sv-item h4{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 16px;
    color: var(--title);
    font-family: var(--oswald);
    font-weight: 500;
    text-transform: uppercase;
}
.services .sv-item{
    color: var(--peragraph);
    font-family: var(--open);
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    cursor: pointer;
}
 .services .sv-item .icon{
    height: 70px;
    width: 70px;
    border: 2px solid #fff;
    background: var(--common-bg);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50% ,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--common-bg);
    transition: all linear 0.3s;
 }
 .services .sv-item .icon::after{
    content: "";
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    position:absolute;
    border: 2px solid #fff;
    border-radius: 50%;
 }
 .services .sv-item:hover .icon{
    background: var(--hover);
    outline:  2px solid var(--hover);
 }

/* Services section end */


/* Portfolio section srart */
.portfolio{
    display: flex;
    gap: 20px;
    padding-top: 25px;
}
.portfolio .port-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.portfolio .port-item .item-1{
   position: relative;
   cursor: pointer;
}
.portfolio .port-item .item-1 .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;

}
.portfolio .port-item .item-1 .overlay a{
    height: 40px;
    width: 40px;
    background: var(--hover);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transform: rotate(90deg);
    transition: all linear 0,3s;
}
.portfolio .port-item .item-1:hover .overlay{
    opacity: 1;
    visibility: visible;
}
/* Portfolio section end */

/* Team section srart */

.team{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 60px;
}
.team .team-member{
    width: 220px;
}
.team .team-member .member-image{
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
}
.team .team-member .member-image:hover{
    box-shadow:  0 0 3px  var(--peragraph);
}
.team .team-member .member-image .overlay{
    height: 100%;
    width: 80px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right:-90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    transition: all linear .3s;
}
.team .team-member .member-image:hover .overlay{
    right: 0;
}
.team .team-member .member-image .overlay a{
   height: 40px;
   width: 40px;
   background: transparent;
   border: 1px solid var(--white);
   border-radius: 50%;
   display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.team .team-member .member-image .overlay a:hover{
    background: var(--hover);
    border: 1px solid var(--hover);
}
.team .team-member .member-info{
    width: 100%;
    text-align: center;
    padding-top: 8px;
}
.team .team-member .member-info a{
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 16px;
    color: var(--title);
    text-transform: uppercase;
}
.team .team-member .member-info a:hover{
    color: var(--hover);
}
.team .team-member .member-info p{
    font-family: var(--open);
    font-weight: 400;
    font-size: 13px;
    color: var(--peragraph);
    padding-top:5px ;
}
/* Team section end */


/* Testimonial section Start */

.test-sec{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.test-sec .test-item{
    width: 460px;
}
.test-sec .test-item .image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto ;
}
.test-sec .test-item .info{
    margin-top: 40px;
    text-align: center;
    background: var(--common-bg);
    padding: 50px 20px 0 20px;
    position: relative;
}
.test-sec .test-item .info::after{
    content: "";
    height: 40px;
    width: 40px;
    background: var(--common-bg);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.test-sec .test-item .info h4{
    color: var(--title);
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 8px;
}
.test-sec .test-item .info .star{
    padding-bottom: 8px;
    color: var(--hover);
}
.test-sec .test-item .info h5{
    font-family: var(--oswald);
    font-weight: 400;
    font-size: 13px;
    color: var(--peragraph);
}
.test-sec .test-item .info p{
    font-family: var(--oswald);
    font-weight: 400;
    font-size: 13px;
    color: var(--peragraph);
   
}

/* Testimonial section end */


/* Footer section Start */

#footer{
    background: var(--title);
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer .foot-item:nth-child(1){
    width: 220px;
    padding-top: 20px;
}
.footer .foot-item:nth-child(1) img{
    padding-bottom: 30px ;
}
.footer .foot-item:nth-child(1) p{
    color: var(--white);
    font-family: var(--open);
    font-weight: 400;
    font-size: 13px;
}
.footer .foot-item:nth-child(1) p span{
    display: block;
    padding: 35px 0;
}
.footer .foot-item:nth-child(2){
    width: 240px;
}
.footer .foot-item:nth-child(2) h4{
    color: var(--white);
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer .foot-item:nth-child(2) ul{
    padding-top: 10px;
}
.footer .foot-item:nth-child(2) ul li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer .foot-item:nth-child(2) ul li .icon{
    color: var(--white);
    min-width: 40px;
    height: 40px;
    background: var(--hover);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .foot-item:nth-child(2) ul li .info{
    display: flex;
    flex-direction: column;
}
.footer .foot-item:nth-child(2) ul li .info a{
    color: var(--white);
}
.footer .foot-item:nth-child(3){
    width: 140px;
}
.footer .foot-item:nth-child(3) h4{
    padding: 30px 0;
    color: var(--white);
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 16px;
}
.footer .foot-item:nth-child(3) ul{
    display: flex;
    flex-wrap: wrap;
}
.footer .foot-item:nth-child(3) ul li{
    width: 50%;
    padding-bottom: 15px;
}
.footer .foot-item:nth-child(3) ul li:last-child{
    width: 100%;
}
.footer .foot-item:nth-child(3) ul li a{
    color: var(--white);
    font-family: var(--open);
    font-weight: 400;
    font-size: 13px;

}
.footer .foot-item:nth-child(4){
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .foot-item:nth-child(4) h4{
    color: var(--white);
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 16px;
    padding: 30px 0;
    width: 100%;
}
.footer .foot-item:nth-child(4) .image{
    width: 90px;
    height: auto;
    margin-bottom: 6px;
}
.copy{
    padding: 15px 0;
    background: var(--peragraph);
    display: flex;
    align-items: center;
    justify-content: center;

}
.copy h3{
    font-family: var(--open);
    font-weight: 400;
    font-size: 13px;
    color: var(--white);
}
.copy a{
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 13px;
    color: var(--hover);
    padding-left: 5px;
}

/* Footer section end */
